 {% extends 'shop/basic.html' %}

 {% block title %} About Us
    {% endblock title %}


{% block css %}
.myclass{
    align-items:center;
    margin-left: 37px;
}
{% endblock css %}


{% block body %} 
<div class="container my-2">
<h1>About Us</h1>
<p>We have our high quality Developers team.We are the google developer and also work for NASA space research center.
Our team have done many useful inventions that changes the life of humans.You can search them in wiki or google.</p>




<h1>Our Developers Team</h1>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
      <div class="myclass">
        <img src="/media/shop/images/elon.jpg"  class="rounded-circle" width="140" height="140" role="img" ></div>
        <h2>Elon Musk</h2>
        <p>Elon Reeve Musk FRS ( born June 28, 1971) is an engineer, industrial designer, technology entrepreneur and philanthropist..</p>
        <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Elon_Musk" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->



      <div class="col-lg-4">
      <div class="myclass">
        <img src="/media/shop/images/einstein.jpg"  class="rounded-circle" width="140" height="140" role="img" ></div>
        <h2>Albert Einstein</h2>
        <p>Albert Einstein was a German-born theoretical physicist who developed the theory of relativity...</p>
        <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Albert_Einstein" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->



      <div class="col-lg-4">
      <div class="myclass">
        <img src="/media/shop/images/newton.jpg"  class="rounded-circle" width="140" height="140" role="img" ></div>
        <h2>Issac Newton</h2>
        <p>Sir Isaac Newton PRS (25 December 1642 – 20 March 1726/27) was an English mathematician, physicist, astronomer, theologian, and author...</p>
        <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Isaac_Newton" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    

    <div class="col-lg-4">
      <div class="myclass">
        <img src="/media/shop/images/vk1.png"  class="rounded-circle" width="140" height="140" role="img" ></div>
        <h2>Virat Kohli</h2>
        <p>Virat Kohli (born 5 November 1988) is an Indian cricketer who currently captains the India national team...</p>
        <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Virat_Kohli" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <div class="myclass">
        <img src="/media/shop/images/mg.jpg"  class="rounded-circle" width="140" height="140" role="img" ></div>
        <h2>Mahatma Gandhi</h2>
        <p>Mohandas Karamchand Gandhi was an Indian lawyer, anti-colonial nationalist, and political ethicist...</p>
        <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Mahatma_Gandhi" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    


    <div class="col-lg-4">
      <div class="myclass">
        <img src="/media/shop/images/modi.jpg"  class="rounded-circle" width="140" height="140" role="img" ></div>
        <h2>Narendra Modi</h2>
        <p>Narendra Damodardas Modi is an Indian politician serving as the 14th and current Prime Minister of India since 2014...</p>
        <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Narendra_Modi" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
   
    


    <!-- START THE FEATURETTES -->


    

   

    <!-- /END THE FEATURETTES -->

  </div>
</div>
{% endblock body %}