 {% extends 'shop/basic.html' %}

 {% block title %} About Us
    {% endblock title %}


{% block css %}
.myclass{
    align-items:center;
    margin-left: 37px;
}
{% endblock css %}


{% block body %} 
<div class="container my-2">
<h1>About Us</h1>
<p>We have our high quality Developers team.We are the google developer and also work for NASA space research center.
Our team have done many useful inventions that changes the life of humans.You can search them in wiki or google.</p>




<h1>Our Developers Team</h1>

      </div><!-- /.row -->
   
    


    <!-- START THE FEATURETTES -->


    

   

    <!-- /END THE FEATURETTES -->

  
</div>
{% endblock body %}
